html {
    font-family: Frutiger, "Frutiger Linotype", Univers, Calibri, "Gill Sans", "Gill Sans MT", "Myriad Pro", Myriad, "DejaVu Sans Condensed", "Liberation Sans", "Nimbus Sans L", Tahoma, Geneva, "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 20.25px;
    font-weight: 300;
    font-style: normal;
    text-rendering: optimizeLegibility;
    direction: ltr;
    margin-top: 0;
    margin-bottom: 1.7777777777777777rem;
    background-color: #f4f4f4;
}


body {
    max-width: 1000px;
    margin: 0 auto;
    background-color: white;
}

body header {
    display: flex;
    align-items: baseline;
    justify-content: space-between;
    padding: 0 32px;
}

body header h1 {
    font-size: 4rem;
    margin-block-end: 0em;
}

body header nav {
    justify-self: end;
    display: flex;
    align-items: baseline;
}

body header nav li {
    list-style: none;
    padding-right: 1em;
    font-size: 1.5em;
}

body header h1 a {
    text-decoration: none;
    color: black;
}

 body main {
     padding: 0 32px
  }

article {
    color: #3a3a3a;
    line-height: 1.7777777777777777rem;
}

article header {
    display: block;
    background-color: white;
    padding: inherit;
}

article figure.left {
    float: left;
    clear: left;
}

article figure.right {
    float: right;
    clear: right;
}

article figure.full {
    width: 100%;
}

article header time {
    display: block;
}

article header h1 {
    width: 100%;
    font-weight: 700;
    font-size: 2.44141rem;
    line-height: 2.5rem;
    margin: 1.7777777777777777rem 0;
    margin-block-end: 0;
}

p {
    font-size: 1rem;
    margin: 0;
    padding: 0;
}

@media screen and (max-width: 767px) {
    html {
        width: 100%;
    }
    body header h1 {
        font-size: 2em;
    }
    body {
        width: 100%;
        max-width: auto;
    }
    body header {
        flex-direction: column;
    }
    body header nav li {
        font-size: 1em;
    }
    body main {
        padding: 0 14px 6px
    }
    article {
        line-height: 1.2em;
    }
    article header h1 {
        width: 100%;
        font-weight: 700;
        font-size: 1.44141rem;
        line-height: 2.5rem;
        margin: 1.7777777777777777rem 0;
        margin-block-end: 0;
    }
}
